.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.p {
    text-align: center;
    font-size: 20px;
    margin:auto;
    padding: 15px;
    width: auto;
    letter-spacing: .5px;
    font-weight: bold;
}